cat > .gitignore << 'EOF'
# Virtual environment
venv/
# .env
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Django stuff
db.sqlite3
media/
staticfiles/

# VSCode / JetBrains
.vscode/
.idea/

# System
.DS_Store
EOF
